@import '../abstracts/variables';

.text-box-search {
  position: relative;
  max-width: bu(642);
  height: bu(56);

  &__input {
    width: 100%;
    height: bu(56);
    border-radius: bu(4);
    padding: bu(16);
    color: map-get($colours, 'storm-5');
    outline: none;
    filter: drop-shadow(0 bu(16) bu(21) rgba(7, 0, 37, 0.22));

    &::placeholder {
      opacity: 1;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
